global:
  evaluation_interval: 1m
  scrape_interval: 1m
  scrape_timeout: 10s
storage:
  tsdb:
    out_of_order_time_window: 30m
otlp:
    keep_identifying_resource_attributes: true
    promote_resource_attributes:
    - service.instance.id
    - service.name
    - service.namespace
    - service.version
    - cloud.availability_zone
    - cloud.region
    - deployment.environment.name
    - container.name
rule_files: []
scrape_configs: []

